/*
 * Copyright (c) 2019 Lexmark International, Inc.
 * Copyright (c) 2023 AMD-Xilinx, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

#include <arm/xilinx/zynqmp_rpu1.dtsi>

/ {
	model = "QEMU Cortex-R5";
	compatible = "xlnx,zynqmp-qemu";

	chosen {
		zephyr,flash = &flash1;
		zephyr,sram = &sram1;
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
	};
};

&rpu1_ipi {
	status = "okay";
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	clock-frequency = <99999901>;
};

&ttc2 {
	status = "okay";
	clock-frequency = <500000000>;
};
